<h3>Post Form</h3>

<%= form_for @post do |p| %>
  <label>Post title:</label><br>
  <%= p.text_field :title, placeholder: @post.title%><br>
  <label>Post Description</label><br>
  <%= p.text_area :description, placeholder: @post.description %><br>
  <%= p.submit "Update Post" %>
<% end %>
